.product_item{
    margin-top: 70px;
    cursor:pointer;
    text-align:center;
}
.product_img img{
border-radius:20px;
}
.product_info h3 {
    font-size:1.2rem;
    color:black;
    font-weight:600;
    /* margin-top:15px; */
}
.product_info a:hover{
    color:inherit;
}
.product_info span{
    font-size: 0.9rem;
    
}
.product_card-bottom .price{
    color:black;
    font-size: 1.3rem;
    font-weight: 500;

    
}